<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>

<style>
    body {
        text-align: center;
        font-family: "TVerdana", Geneva, sans-serif;
        background-color: #c6d9eb;
    }

    div.loginForm {
        margin-left: 690px;
        margin-right: 690px;
        text-align: center;
        border-style: solid;
        border-color: #336699;
        border-radius: 15px;
    }

    input.frontPage {
        border-radius: 20px;
        border-color: #336699;
    }

    .frontPage button {

    }
</style>

<script>

</script>

<body>
<div class="registerForm">
    <h1 style="color: #689bca;"> Register </h1><br>
    <form class="registerPage" action="/register" method="post">
        <input id="fname" name="fname" placeholder="First Name" style="color: #336699;" type="text"><br>
        <input id="lname" name="lname" placeholder="Last Name" style="color: #336699;" type="text"><br>
        <input id="email" name="email" placeholder="Email" style="color: #336699;" type="text"><br>
        <input id="password" name="password" placeholder="Password" style="color: #336699;" type="password"><br><br><br>
        <input id="validate1" style="color: #336699;" name = "validate"
                type="submit" value="Volunteer"><label id="volunteer"> I want to volunteer</label></input>
        <input id="validate2" style="color: #336699;" name = "validate"
                type="submit" value="Support"><label id="client"> I need support</label></input>
    </form>
</div>
</body>
</html>