<!--DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Login</h1>
    <button>I need support</button> <button onclick="window.location.href = '/login/volunteer'">I want to volunteer</button>
</body>

</html>
-->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>

<style>
body {
    text-align: center;
   font-family: "TVerdana", Geneva, sans-serif;
   background-color: #c6d9eb;
 }
div.loginForm {
    margin-left: 690px;
    margin-right: 690px;
    text-align: center;
    border-style: solid;
    border-color: #336699;
    border-radius: 15px;
}

input.frontPage{
    border-radius: 20px;
    border-color: #336699;
}

.frontPage button{

}
</style>

<body>
<div class = "registerForm">
    <h1 style="color: #689bca;"> Register </h1><br>
    <form action="/register.java" class = "registerPage">
        <input type="text" id="fname" name="fname" placeholder="First Name" style="color: #336699;"><br>
        <input type="text" id="lname" name="lname" placeholder="Last Name" style="color: #336699;"><br>
        <input type="text" id="email" name="email" placeholder="Email" style="color: #336699;"><br>
        <input type = "password" id = "password" placeholder = "Password" style="color: #336699;"><br><br><br>
        <button type = "submit" formmethod = "post" onclick="/register/volunteer" style="color: #336699;"> <label id="volunteer"> I want to volunteer</label></button>
        <button type = "submit" formmethod = "post" onclick="/register/client" style="color: #336699;"> <label id="client"> I need support</label></button>
    </form>
</div>
</body>
</html>