<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back !</title>
</head>

<style>
    body {
        font-family: "TVerdana", Geneva, sans-serif;
        background-color: #c6d9eb;
    }

    .setts {
        position: absolute;
        left: 90%;
    }
</style>

<body>
<h1>Welcome back !</h1>

<h2>Welcome to the volunteer page.</h2>
<div class="setts">
    <input id="set" onclick="location.href = '/settings'" type="submit" value="Settings">
    <input id = "logout" onclick = "location.href = '/dev/logout'" type = "submit" value = "Logout">
</div>

<div class="orders">
    <button id="placeOrder">Available orders:</button>
    <tr th:each="order: ${orders}">
        <p th:text="${order.user.firstname + ' ' + order.user.lastname}"> </p>
        <p th:text="${order.user.postcode}"></p>
        <td th:each="item: ${order.shopList}">
            <p th:text="${item}"></p>
        </td>
    </tr>
</div>
</body>
</html>