<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<form th:with="name=${user.fname}">

    <form action="/settings" class="registerPage" method="post">
        <input id="fname" name="fname" placeholder="First Name" style="color: #336699;" type="text"><br>
        <input id="lname" name="lname" placeholder="Last Name" style="color: #336699;" type="text"><br>
        <input id="email" name="email" placeholder="Email" style="color: #336699;" type="text"><br>
        <input id="password" name="password" placeholder="Password" style="color: #336699;" type="password"><br><br><br>
        <input id="validate1" name="validate" style="color: #336699;"
               type="submit" value="Volunteer"><label id="submit"> Update account</label>
    </form>
</form>
</body>
</html>