<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back !</title>
    <h1>What would you like to do?</h1>
</head>
<body>
<h2>Get Support</h2>
<button> onclick="window.location.href='/placeOrder'">Place Order</button>
<button> <!--onclick="window.location.href='/***'" >-->View Past Orders</button>

<h2>Volunteer</h2>
<button> <!--onclick="window.location.href='/receiveOrder'">-->Make a delivery</button>
<button> <!--onclick="window.location.href='/***'" >-->View Past Deliveries</button>

<p>By using this service you agree to our <a href="tos">Terms of Service</a></p>

</body>
</html>