<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back !</title>
</head>

<script type="text/javascript">
    document.getElementById("placeOrder").onclick = function () {
        location.href = "/placeOrder";
    };

    document.getElementById("viewOrder").onclick = function () {
        location.href = "/viewOrder";
    };

</script>

<body>
<h1>Welcome back !</h1>
<div class = "orders">
    <button id = "placeOrder">Place an order</button>
    <button id = "viewOrders">View your orders</button>
</div>
</body>
</html>