<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:with="name=${user.firstName}">Welcome back <span th:value="${name}"></span>!</title>
</head>

<script type="text/javascript">
    document.getElementById("set").onclick = function () {
        location.href = "/settings";
    };

    document.getElementById("placeOrder").onclick = function () {
        location.href = "/orders/new";
    };

    document.getElementById("viewOrders").onclick = function () {
        location.href = "/orders/view";
    };

</script>

<style>
    body {
        font-family: "TVerdana", Geneva, sans-serif;
        background-color: #c6d9eb;
    }
</style>

<body>
<h1>Welcome back !</h1>
<h2>Welcome to the user page!</h2>
<div class="settings">
    <form action="/settings" method="get">
        <button id="set" onclick="location.href = '/settings'" type="submit" value="Settings">Settings</button>
    </form>
</div>
<div class="orders">
    <button id="placeOrder">Place an order</button>
    <button id="viewOrders">View your orders</button>
</div>
</body>
</html>